<footer class="site-footer">

    <div class="wrapper">


        <!-- disquss -->

        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <h2 class="footer-heading" align="center">
            <a href="https://jsdev.org">jsdev.org</a> ||
            <a href="https://javadev.org">javadev.org</a>
        </h2>
        <p align="center">Opensource project with codes on
            <a href="https://bitbucket.org/jsdev-org/labs.jsdev.org">bitbucket</a>.
        </p>
    </div>

</footer>