<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="//jsdev.org/chat/">Chat</a>
        <a class="page-link" href="//jsdev.org/src/">Open Source Projects</a>
        <a class="page-link" href="{{ site.baseurl }}/web-developer-roadmap-2019/">Web Developer Roadmap 2019</a>
        <a class="page-link" href="{{ site.baseurl }}/top-10-books/">Top books</a>
        <a class="page-link" href="{{ site.baseurl }}/top-10-video-courses/">Top 10 Video Courses</a>
        <a class="page-link" href="{{ site.baseurl }}/about/">About</a>
        <a class="page-link" href="{{ site.baseurl }}/sitemap/">SiteMap</a>
      </div>
    </nav>

  </div>

</header>